# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- azure-pipelines

- job:
  displayName: Windows
  pool:
    vmImage: 'vs2017-win2016'
  strategy:
    matrix:
      64-bit Debug:
        BuildType: Debug
        CMakeArgs: '-G"Visual Studio 15 2017 Win64"'

      64-bit Release:
        BuildType: Release
        CMakeArgs: '-G"Visual Studio 15 2017 Win64"'

  steps:
  - task: CMake@1
    displayName: 'CMake .. $(CMakeArgs) -DCMAKE_BUILD_TYPE=$(BuildType)'
    inputs:
      cmakeArgs: '.. $(CMakeArgs) -DCMAKE_BUILD_TYPE=$(BuildType)'

  - script: 'ctest -j 4 --interactive-debug-mode 0 --output-on-failure -C $(BuildType)'
    workingDirectory: build
    displayName: 'Run Ctest'

