trigger:
- azure-pipelines

jobs:
- job:
  displayName: Windows
  pool:
    vmImage: 'vs2015-win2012r2'
  strategy:
    matrix:
      64-bit Debug:
        BuildType: Debug
        CMakeArgs: '-G"Visual Studio 14 2015 Win64"'

      64-bit Release:
        BuildType: Release
        CMakeArgs: '-G"Visual Studio 14 2015 Win64"'

  steps:
  - task: CMake@1
    displayName: 'CMake .. $(CMakeArgs) -DCMAKE_BUILD_TYPE=$(BuildType) -Dgtest_force_shared_crt=TRUE'
    inputs:
      cmakeArgs: '.. $(CMakeArgs) -DCMAKE_BUILD_TYPE=$(BuildType) -Dgtest_force_shared_crt=TRUE'
  
  - task: CMake@1
    displayName: 'cmake --build . --config $(BuildType)'
    inputs:
      cmakeArgs: '--build . --config $(BuildType)'

  - script: 'ctest -j 4 --output-on-failure -C $(BuildType) -VV'
    workingDirectory: build
    displayName: 'Run Ctest'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: drop'

- job: 
  displayName: macOS
  pool:
    vmImage: 'macOS-10.14'
  strategy:
    matrix:
      Debug:
        BuildType: Debug
      Release:
        BuildType: Release

  steps:
  - task: CMake@1
    displayName: 'CMake .. -DCMAKE_BUILD_TYPE=$(BuildType)'
    inputs:
      cmakeArgs: '.. -DCMAKE_BUILD_TYPE=$(BuildType)'

  - script: |
      make -j 4
    workingDirectory: build
    displayName: 'Compile'
  
  - script: |
      ctest -j 4 --output-on-failure -C $(BuildType) -VV
    workingDirectory: build
    displayName: 'Test'
