trigger:
- azure-pipelines

jobs:
- job:
  displayName: Windows
  pool:
    vmImage: 'vs2017-win2016'
  
  # strategy:
  #   matrix:
  #     64-bit Debug:
  #       BuildType: Debug
  #       CMakeArgs: '-G"Visual Studio 14 2015 Win64"'

  #     64-bit Release:
  #       BuildType: Release
  #       CMakeArgs: '-G"Visual Studio 14 2015 Win64"'

  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '2.7'
        addToPath: true 
    - script: mkdir build
    - script: python --version
    - script: python build.py --build_dir build -- install_dir build
      #workingDirectory: build
      displayName: 'Compile'

# - job: 
#   displayName: macOS
#   pool:
#     vmImage: 'macOS-10.14'
#   strategy:
#     matrix:
#       Debug:
#         BuildType: Debug
#       Release:
#         BuildType: Release

#   steps:
#   - task: CMake@1
#     displayName: 'CMake .. -DCMAKE_BUILD_TYPE=$(BuildType)'
#     inputs:
#       cmakeArgs: '.. -DCMAKE_BUILD_TYPE=$(BuildType)'

#   - script: |
#       make -j 4
#     workingDirectory: build
#     displayName: 'Compile'
  
#   - script: |
#       ctest -j 4 --output-on-failure -C $(BuildType) -VV
#     workingDirectory: build
#     displayName: 'Test'
